#cards_p div{
    background-color: rgb(255, 255, 255);
    height: 56.4vh;
    overflow: auto;
    margin-right: 20px;
    margin-left: 20px;
    padding: 13px;
    border-radius: 5px;

}

